body {
  max-width: 1200px;
  background: black;
}
#boton {
  display: block;
  background-color: rgb(25, 1, 208);
  color: rgb(255, 255, 255);
  padding: 20px;
  width: 200px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 5px rgb(1, 1, 1);
  transition: border 1s, background 2s, border-radius 2s;
}
/**ESTILO DEL BOTON*/
#boton:hover {
  background-color: rgb(221, 9, 236);
  border: solid 5px rgb(158, 10, 222);
  font-family: "Times New Roman", Times, serif;
  font-weight: 5px;
}

#caja img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  animation-name: movilidad;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: white solid 4px;
}

@keyframes movilidad {
  0% {
    margin-left: 0px;
    transform: rotate(0deg);
  }
  70% {
    margin-left: 800px;
    transform: rotate(3 60deg);
    border-radius: 999px;
  }
  100% {
    margin-left: 0px;
    transform: rotate(0deg);
  }
}
